/* Reset some basic elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styling */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #EFEFF0 !important; 
    color: #333;
    line-height: 1.6;
    padding: 20px;
  }

  header {
    position: fixed;
  }
  
  /* Headings */
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
    color: #0066FF;
  }

  h1 {
    color: #0066FF;
  }
  
  /* Paragraphs */
  p {
    margin-bottom: 1em;
  }
  
  /* Links */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  ul,
  ol {
    margin-left: 2rem;
    margin-bottom: 1.5rem;
  }
  
  /* Buttons */
  button {
    display: inline-block;
    border: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 1.5rem;
    font-size: 16px;
  }

  button a {
    color: white;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .button {
    display: inline-block;
    border: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Forms and Input fields */

  input[type="text"],
  input[type="password"],
  input[type="email"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input.MuiInput-input,
  input.MuiInputBase-input {
    border: none !important;
  }
  
  input[type="submit"],
  input[type="button"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover,
  input[type="button"]:hover {
    background-color: #45a049;
  }
  
  /* Utility classes */
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  .text-center {
    text-align: center;
  }
  
  /* Responsive design */
  @media screen and (max-width: 600px) {
    .container {
      width: 100%;
    }
  }
  
  pre, code, .pre {
    display: inline-block;
    background-color: #1A2948; /* Light grey background */
    border-radius: 8px; /* Rounded corners */
    padding: 1rem; /* Padding inside the code block */
    overflow-x: auto; /* Horizontal scroll for long lines */
    font-size: 0.9rem;
    color: #ffffff !important;
    margin-bottom: 1rem;
    height: auto;
    width: 100%;
  }
  
  pre {
    white-space: pre-wrap; /* Wrap long lines */
  }
  
  code {
    font-family: 'Courier New', Courier, monospace; /* Monospace font for code */
    display: block; /* Make code element block-level */
  }
  
  /* Additional styling for better readability */
  pre code {
    color: #333; /* Darker text color for contrast */
    line-height: 1.4; /* Slightly increased line height */
  }

  input[type="file"]::-webkit-file-upload-button {
    display: inline-block;
    border: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    margin: 8px 0;
  }
  
  input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #0066cc; /* Slightly darker blue for hover effect */
  }

  .markdown-wrapper h1, 
  .markdown-wrapper h2,
  .markdown-wrapper h3,
  .markdown-wrapper strong,
  .markdown-wrapper b {
    color: black;
  }

  .markdown-wrapper h2 {
    line-height: 1.2;
    margin-bottom: 0.5rem;
  }

  .toast-container > div {
    background-color: #001f70 !important; 
  }

  .toast-container h2 {
    color: white;
  }

  a > div.MuiAvatar-root:hover {
    text-decoration: none;
    background-color: white;
    color: #001f70;
  }

  a:hover > div.MuiAvatar-root {
    text-decoration: none;
  }